:root {
  font-family: 'Raleway';
  background: #222831;
}

::selection {
  color: black;
  background: white;
}

html, body{
  height: 100%;
}

@media only screen and (min-width: 300px) {
  .title {
    color: white;
    font-size: 36pt;
    text-align: center;
  }
}

@media only screen and (min-width: 769px) {
  .title {
    color: white;
    font-size: 36pt;
    text-align: left;
    padding-left: 30px;
  }
}

.BarChart {
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-end;
  height: 85%;
  width: 95%%;
  color: white;
  background: #30475E;
  margin: 0px 0px 0px 0px;
  padding: 0px 30px 0px 30px;
}

.BarChart-bar {
  color: black;
  text-align: center;
  font-size: 36pt;
  font-weight: bold;
  background: #F2A365;
  flex-grow: 1;
  margin: 0px 20px 0px 20px;
  transition: 0.2s;
}

.BarChart-bar:hover {
  background: #d6c7bb;
  transform: scale(1.05, 1);

}
/* NOTES:
->when page loads, have bars "built" from bottom-up (w transform)
->make parent of BarChart a grid to get some auto columns going
*/