body {
  font-family: 'Raleway';
  background: #443737;
}

.title {
  color: white;
  margin-left: 200px;
}

.Graph {
  display:flex;
  height: 1000px;
  width: 80%;
  color: white;
  background: #272121;
  margin: 0px 200px 200px 200px;
}